.league-logo {
  width: 2rem;
  height: 2rem;
}

.league-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--primary-color);
  border: 1px gray solid;
}
.league-country {
  color: rgb(132, 132, 132);
}
.country-header{
  background-color: var(--secondary-color);
}
.country {
  font-size: 1.7rem;
}