.main-container {
  display: flex;
  flex-direction: row;
}
.match-list {
  width: 60%;
  box-sizing: border-box;
  border-radius: 1rem;
}
.main-left {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40%;
}
.main-right {
  display: flex;
  flex-direction: column;
  width: 40vw;
}
.calendar {
  border-radius: 1rem;
  background-color: var(--bg-color);
}

.react-calendar__navigation__arrow {
  border-radius: 1rem;
  color: white;
}
.react-calendar__tile {
  border-radius: 1rem;
}
abbr {
  color: white;
}
.small-screen{
  display: flex;
  flex-direction: column;
  width: 100vw;
}

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */

@media(max-width: 768px) {
  .main-left {
    width: 100%;
    padding-bottom: 1rem;
  }
  .match-list {
    width: 80%;
    margin: auto;
  }
}
@media(max-width: 500px) {
  .match-list {
    width: 100%;
    margin: auto;
  }
}