.main-container {
  display: flex;
  flex-direction: row;
}
.match-list {
  width: 40vw;
  box-sizing: border-box;
  border-radius: 1rem;
}
.main-left {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30vw;
}
.main-right {
  display: flex;
  flex-direction: column;
  width: 30vw;
}
.calendar {
  border-radius: 1rem;
  background-color: var(--bg-color);
}

.react-calendar__navigation__arrow {
  border-radius: 1rem;
  color: white;
}
.react-calendar__tile {
  border-radius: 1rem;
}
abbr {
  color: white;
}