.team-logo {
  width: 2rem;
}

.team-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1rem;
}

.match {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid var(--border-color);
  padding: 2px;
  box-sizing: border-box;
}

.match-time {
  display: grid;
  place-items: center;
  border-right: solid var(--border-color) 1px;
  padding: 1rem;
  width: 7%;
}